<section class="o-block carousel-narrow" style="background-color:#F2F2F2;">
    <aside class="o-carousel-background" style="background-image: url('http://placehold.it/1920x400?text=Carousel Background');"></aside>
    <div class="owl-carousel cg-776">
        <!-- ARTICLE ----------------- -->
        <article class="o-carousel-element eh-dn-767 eh-up-768">
            <div class="o-card carousel-card">
                <figure class="a-banner-image-overlay" style="background-image: url('http://placehold.it/1920x400?text=Item Image');">
                    <div class="substitute-overlay"></div>
                    <div class="std-svg-wrap">
                        <svg class="banner-overlay-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                        viewBox="0 0 180 520">
                            <g data-name="Layer 2">
                                <g data-name="Layer 1">
                                    <g>
                                        <g>
                                            <path d="M0,0V520H2.3C73.3,455.9,118,363.2,118,260S73.3,64.1,2.3,0"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <svg class="banner-overlay-svg mobi" viewBox="0 0 320 400" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <rect x="0" y="0" width="320" height="423"></rect>
                        </defs>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.7">
                            <g transform="translate(0.000000, -177.000000)">
                                <g transform="translate(0.000000, 154.000000)">
                                    <mask fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>&gt;
                                    <path d="M76.8932823,1154.78656 C389.427721,1154.78656 642.786565,901.427721 642.786565,588.893282 C642.786565,276.358844 389.427721,23 76.8932823,23 C-235.641156,23 -489,276.358844 -489,588.893282 C-489,901.427721 -235.641156,1154.78656 76.8932823,1154.78656"
                                    fill="#D20E4F"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </figure>
                <div class="m-card-body">
                    <figure class="m-logo">
                        <img src="http://placehold.it/250x250?text=LOGO" alt="logo" />
                    </figure>
                    <div class="m-wrapper">
                         <h3 class="a-card-title">30 years specialist experience</h3>

                        <p class="a-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </article>
        <!-- ARTICLE ----------------- -->
        <article class="o-carousel-element eh-dn-767 eh-up-768">
            <div class="o-card carousel-card">
                <figure class="a-banner-image-overlay" style="background-image: url('http://placehold.it/1920x400?text=Item Image');">
                    <div class="substitute-overlay"></div>
                    <div class="std-svg-wrap">
                        <svg class="banner-overlay-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                        viewBox="0 0 180 520">
                            <g data-name="Layer 2">
                                <g data-name="Layer 1">
                                    <g>
                                        <g>
                                            <path d="M0,0V520H2.3C73.3,455.9,118,363.2,118,260S73.3,64.1,2.3,0"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <svg class="banner-overlay-svg mobi" viewBox="0 0 320 400" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <rect x="0" y="0" width="320" height="423"></rect>
                        </defs>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.7">
                            <g transform="translate(0.000000, -177.000000)">
                                <g transform="translate(0.000000, 154.000000)">
                                    <mask fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>&gt;
                                    <path d="M76.8932823,1154.78656 C389.427721,1154.78656 642.786565,901.427721 642.786565,588.893282 C642.786565,276.358844 389.427721,23 76.8932823,23 C-235.641156,23 -489,276.358844 -489,588.893282 C-489,901.427721 -235.641156,1154.78656 76.8932823,1154.78656"
                                    fill="#D20E4F"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </figure>
                <div class="m-card-body">
                    <figure class="m-logo">
                        <img src="http://placehold.it/250x250?text=LOGO" alt="logo" />
                    </figure>
                    <div class="m-wrapper">
                         <h3 class="a-card-title">30 years specialist experience specialist experience</h3>

                        <p class="a-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit., consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>