<div class="o-block challenge-item">
    <!-- MOBILE TAB ----------- -->
    <div class="m-tab-item trigger-div challenge-1 on" name="challenge-1">
        <div class="m-tab-title"> <span class="a-title-icon">
          <img src="http://placehold.it/50x50?text=ICON"/>
        </span>

             <h4 class="a-title-text">CHALLENGE ITEM TITLE MAIN TEXT (mobile link)</h4>

            <p class="a-title-note">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="a-btn btn-white-hollow"><span>Learn More</span>
            </div>
        </div>
    </div>
    <!-- Challenge 1 Content -------------------------- -->
    <div class="o-challenge-benefits trigger-content on" id="challenge-1">
        <!-- Challenge 1 DESKTOP NAV -------------------- -->
        <div class="benefit-menu desktop-menu">
             <h5 class="a-menu-title">CHALLENGE MENU TITLE (desktop area - hidden on mobile)</h5>
 <span class="a-menu-sub-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </span>

            <ul class="m-benefit-list">
                <li class="m-list-item trigger-nested benefit-111" name="benefit-111"> <span>benefit</span>

                    <figure class="a-tab-caret">
                        <svg class="a-arrow-right" id="a-arrow-right" data-name="a-arrow-right"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.84 100">
                            <polyline class="cls-1" points="0 0 29.84 50 0 100" />
                        </svg>
                    </figure>
                </li>
                <li class="m-list-item trigger-nested benefit-112" name="benefit-112"> <span>benefit</span>

                    <figure class="a-tab-caret">
                        <svg class="a-arrow-right" id="a-arrow-right" data-name="a-arrow-right"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.84 100">
                            <polyline class="cls-1" points="0 0 29.84 50 0 100" />
                        </svg>
                    </figure>
                </li>
                <li class="m-list-item trigger-nested benefit-113" name="benefit-113"> <span>benefit</span>

                    <figure class="a-tab-caret">
                        <svg class="a-arrow-right" id="a-arrow-right" data-name="a-arrow-right"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.84 100">
                            <polyline class="cls-1" points="0 0 29.84 50 0 100" />
                        </svg>
                    </figure>
                </li>
            </ul>
        </div>
        <section class="o-benefit-area">
            <!-- BENEFIT 1 ---------------------------------- -->
            <!-- Benefit 1 mobile nav ----------------------- -->
            <div class="a-mobile-menu-link toggle-nested-link benefit-111 on" name="benefit-111"> <span>benefit</span>

                <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 100 100">
                    <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
                </svg>
            </div>
            <!-- Benefit 1 content -------------------------- -->
            <aside class="o-benefit-block trigger-nested-div on" id="benefit-111">
                 <h3 class="a-benefit-title">benefit 1 title</h3>
 <span class="a-benefit-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>

                <div class="row">
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6"
                    style="height: auto;">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <div class="sector-icons-revised">
                                    <svg data-name="icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <defs>
                                            <style>
                                                .\38 a9bad31-edc4-4240-a9cc-48cb54af1e10 {
                                                  fill: none;
                                                  stroke: #000;
                                                  stroke-linecap: round;
                                                  stroke-linejoin: round;
                                                  stroke-width: 2px;
                                                }
                                            </style>
                                        </defs>
                                        <g data-name="arr-axis-angle">
                                            <path class="8a9bad31-edc4-4240-a9cc-48cb54af1e10" d="M45,61q-1.35-1.24-2.69-2.58c-12-12-18.23-25.85-14-30.09s17.39,2,29.36,14,18.23,25.11,14,29.36C68.92,74.42,62.45,72.77,55,68"></path>
                                            <path class="8a9bad31-edc4-4240-a9cc-48cb54af1e10" d="M39,45q1.24-1.35,2.58-2.69c12-12,25.85-18.23,30.09-14s-2,17.39-14,29.36-25.11,18.23-29.36,14C25.58,68.92,27.23,62.45,32,55"></path>
                                        </g>
                                    </svg>
                                </div>
                            </figure>
                            <div class="m-card-text">
                                 <h5 class="a-card-title"><span style="background-color: #ffffff; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</span></h5>

                                <p class="a-card-text a-text-truncate"><span style="background-color: #ffffff; text-align: justify;">Praesent nibh mi, iaculis eu erat ut, aliquam sagittis tellus. Curabitur ultrices rutrum urna, nec luctus risus ultrices quis. Vestibulum interdum rutrum porttitor. Sed convallis elementum varius. Cras vel eros a augue gravida pellentesque. Mauris placerat magna vitae mi finibus, eget cursus felis posuere. Curabitur eleifend neque quis dolor suscipit, vel interdum eros molestie. Ut elementum elementum auctor. Nullam pulvinar lacinia dui, nec porta neque. Maecenas sollicitudin quis mauris vitae sagittis. In ac hendrerit ligula. Mauris mattis nibh ut gravida finibus.</span>
                                </p> <a href="https://cgsc9web.lab-collinson.servers.lab.uk/" class="a-card-link">Read More here...</a>

                            </div>
                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6"
                    style="height: auto;">
                        <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250');"></figure>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6"
                    style="height: auto;">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6"
                    style="height: auto;">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                </div>
            </aside>
            <!-- BENEFIT 2 ---------------------------------- -->
            <!-- Benefit 2 mobile nav ----------------------- -->
            <div class="a-mobile-menu-link toggle-nested-link benefit-112" name="benefit-112"> <span>benefit</span>

                <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 100 100">
                    <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
                </svg>
            </div>
            <!-- Benefit 2 content -------------------------- -->
            <aside class="o-benefit-block trigger-nested-div" id="benefit-112">
                 <h3 class="a-benefit-title">benefit 2 title</h3>
 <span class="a-benefit-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>

                <div class="row">
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250')"></figure>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                </div>
            </aside>
            <!-- BENEFIT 3 ---------------------------------- -->
            <!-- Benefit 3 mobile nav ----------------------- -->
            <div class="a-mobile-menu-link toggle-nested-link benefit-113" name="benefit-113"> <span>benefit</span>

                <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 100 100">
                    <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
                </svg>
            </div>
            <!-- Benefit 3 content -------------------------- -->
            <aside class="o-benefit-block trigger-nested-div" id="benefit-113">
                 <h3 class="a-benefit-title">benefit 1 title</h3>
 <span class="a-benefit-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>

                <div class="row">
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250')"></figure>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250')"></figure>
                    </article>
                    <!-- Benefit Card ---------------------------- -->
                    <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                        <aside class="m-card-body">
                            <figure class="m-card-icon">
                                <img src="http://placehold.it/50x50?text=ICON" />
                            </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                        </aside>
                    </article>
                </div>
            </aside>
        </section>
    </div>
</div>