<section class="o-block style-element-area">
    <!-- STYLE 1 ---------------------------------- -->
    <!-- STYLE 1 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-111 on" name="style-111"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- STYLE 1 content -------------------------- -->
    <aside class="o-category-block trigger-nested-div on" id="style-111">
        <article class="m-accordion-article style-article">
            <div class="m-accordion-title trigger-div style-element-1 on" name="style-element-1">
                 <h3 class="a-style-title">Style 1 title</h3>

                <figure class="icon-caret">
                    <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                    style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
            l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                    </svg>
                </figure>
            </div>
            <div class="m-accordion-content style-body trigger-content on" id="style-element-1">
                <p>STYLE 1</p>
            </div>
        </article>
        <article class="m-accordion-article style-article">
            <div class="m-accordion-title trigger-div style-element-2" name="style-element-2">
                 <h3 class="a-style-title">Style 2 title</h3>

                <figure class="icon-caret">
                    <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                    style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
            l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                    </svg>
                </figure>
            </div>
            <div class="m-accordion-content style-body trigger-content" id="style-element-2">
                <p>STYLE 2</p>
            </div>
        </article>
    </aside>
    <!-- STYLE 2 ---------------------------------- -->
    <!-- STYLE 2 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-112" name="style-111"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- STYLE 2 content -------------------------- -->
    <aside class="o-benefit-block trigger-nested-div" id="style-112">
         <h3 class="a-style-title trigger-div style-element-1 on" name="style-element-1">benefit 1 title</h3>

        <div class="o-style-content trigger-content on" id="style-element-2">
            <p>STYLE 1</p>
        </div>
    </aside>
    <!-- BENEFIT 2 ---------------------------------- -->
    <!-- Benefit 2 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-115" name="style-115"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- Benefit 2 content -------------------------- -->
    <aside class="o-benefit-block trigger-nested-div" id="style-115">
         <h3 class="a-benefit-title">benefit 2 title</h3>
 <span class="a-benefit-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>

        <div class="row">
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250')"></figure>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
        </div>
    </aside>
    <!-- BENEFIT 3 ---------------------------------- -->
    <!-- Benefit 3 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-113" name="style-113"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- Benefit 3 content -------------------------- -->
    <aside class="o-benefit-block trigger-nested-div" id="style-113">
         <h3 class="a-benefit-title">benefit 1 title</h3>
 <span class="a-benefit-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>

        <div class="row">
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250')"></figure>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <figure class="m-card-image" style="background-image: url('http://placehold.it/500x250')"></figure>
            </article>
            <!-- Benefit Card ---------------------------- -->
            <article class="o-card challenge-benefit-card eh-up-768 col-xs-12 col-sm-6">
                <aside class="m-card-body">
                    <figure class="m-card-icon">
                        <img src="http://placehold.it/50x50?text=ICON" />
                    </figure> <span class="m-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda earum, et inventore laboriosam laborum libero nam natus nesciunt nulla omnis optio porro praesentium quas, quod quos repellat sint ut!</p>
                <a href="#" class="a-card-link">Learn more</a>
              </span>

                </aside>
            </article>
        </div>
    </aside>
</section>