<section class="o-block style-element-area">
    <!-- CAT 1 WRAPPER ------------------------------ -->
    <aside class="o-category-block toggle-content link-target" id="style-cat-1">
        <!-- CAT 1 mobile nav -------------------------- -->
        <div class="a-mobile-menu-link toggle-div style-cat-1" name="style-cat-1"> <span>CATEGORY 1</span>

            <svg class="icon--caret" data-name="icon--caret"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
            </svg>
        </div>
        <!-- CAT 1 TITLE --------------------------------- -->
        <div class="o-style-category-title"> <a class="a-style-title slide-to link-div style-cat-1" href="#style-cat-1"
            name="style-cat-1">
        <span>CATEGORY 1</span><figure class="a-tab-caret"></figure>
      </a>

        </div>
        <!-- STYLE 1 CONTENT ------------------------------ -->
        <section class="o-block style-cat-section">
            <!-- CAT 1 ARTICLE 1 ---------------------------- -->
            <article class="style-article">
                <div class="m-style-title m-accordion-title toggle-nested-link style-element-1"
                name="style-element-1"> <span>STYLE TITLE 1</span>

                    <figure class="icon-caret">
                        <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                        style="enable-background:new 0 0 100 100;" xml:space="preserve">
                            <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
              l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                        </svg>
                    </figure>
                </div>
                <div class="style-body toggle-nested-div" id="style-element-1">
                    <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                        ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                        ipsum</p>
                    <div class="row">
                        <div class="m-one-col m-screenshots">
                            <div class="m-screen-content desktop-content">
                                 <h4 class="">Desktop</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                class="a-image-desktop" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                            <div class="m-screen-content mobile-content">
                                 <h4> Mobile</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                class="a-image-mobile" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- END: CAT 1 ARTICLE 1 ----------------------- -->
            <!-- CAT 1 ARTICLE 2 ---------------------------- -->
            <article class="style-article">
                <div class="m-style-title m-accordion-title toggle-nested-link style-element-2"
                name="style-element-2"> <span>STYLE TITLE 2</span>

                    <figure class="icon-caret">
                        <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                        style="enable-background:new 0 0 100 100;" xml:space="preserve">
                            <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
              l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                        </svg>
                    </figure>
                </div>
                <div class="style-body toggle-nested-div" id="style-element-2">
                    <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                        ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                        ipsum</p>
                    <div class="row">
                        <div class="m-one-col m-screenshots">
                            <div class="m-screen-content desktop-content">
                                 <h4 class="">Desktop</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                class="a-image-desktop" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                            <div class="m-screen-content mobile-content">
                                 <h4> Mobile</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                class="a-image-mobile" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- END: CAT 1 ARTICLE 2 ----------------------- -->
        </section>
    </aside>
    <!-- END CAT 1 WRAPPER ------------------------------ -->
    <!-- CAT 2 WRAPPER ------------------------------ -->
    <aside class="o-category-block toggle-content link-target" id="style-cat-2">
        <!-- CAT 2 mobile nav -------------------------- -->
        <div class="a-mobile-menu-link toggle-div style-cat-2" name="style-cat-2"> <span>CATEGORY 2</span>

            <svg class="icon--caret" data-name="icon--caret"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
            </svg>
        </div>
        <!-- CAT 2 TITLE --------------------------------- -->
        <div class="o-style-category-title"> <a class="a-style-title slide-to link-div style-cat-2" href="#style-cat-2"
            name="style-cat-2">
        <span>CATEGORY 2</span><figure class="a-tab-caret"></figure>
      </a>

        </div>
        <!-- STYLE 2 CONTENT ------------------------------ -->
        <section class="o-block style-cat-section">
            <!-- CAT 2 ARTICLE 1 ---------------------------- -->
            <article class="style-article">
                <div class="m-style-title m-accordion-title toggle-nested-link style-element-21"
                name="style-element-21"> <span>STYLE TITLE 1</span>

                    <figure class="icon-caret">
                        <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                        style="enable-background:new 0 0 100 100;" xml:space="preserve">
                            <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
              l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                        </svg>
                    </figure>
                </div>
                <div class="style-body toggle-nested-div" id="style-element-21">
                    <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                        ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                        ipsum</p>
                    <div class="row">
                        <div class="m-one-col m-screenshots">
                            <div class="m-screen-content desktop-content">
                                 <h4 class="">Desktop</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                class="a-image-desktop" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                            <div class="m-screen-content mobile-content">
                                 <h4> Mobile</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                class="a-image-mobile" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- END: CAT 2 ARTICLE 1 ----------------------- -->
            <!-- CAT 2 ARTICLE 2 ---------------------------- -->
            <article class="style-article">
                <div class="m-style-title m-accordion-title toggle-nested-link style-element-22"
                name="style-element-22"> <span>STYLE TITLE 2</span>

                    <figure class="icon-caret">
                        <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                        style="enable-background:new 0 0 100 100;" xml:space="preserve">
                            <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
              l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                        </svg>
                    </figure>
                </div>
                <div class="style-body toggle-nested-div" id="style-element-22">
                    <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                        ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                        ipsum</p>
                    <div class="row">
                        <div class="m-one-col m-screenshots">
                            <div class="m-screen-content desktop-content">
                                 <h4 class="">Desktop</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                class="a-image-desktop" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                            <div class="m-screen-content mobile-content">
                                 <h4> Mobile</h4>

                                <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                class="a-image-mobile" alt="">
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- END: CAT 2 ARTICLE 2 ----------------------- -->
        </section>
    </aside>
    <!-- END CAT 1 WRAPPER ------------------------------ -->
</section>