<section class="o-block style-element-area">
    <!-- STYLE 1 ---------------------------------- -->
    <!-- STYLE 1 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-element-1777"
    name="style-element-1777"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- STYLE 1 content -------------------------- -->
    <aside class="o-category-block">
        <article class="style-article">
            <div class="link-target toggle-nested-div" id="style-element-1777"></div>
            <div class="o-style-category-title"> <a class="a-style-title slide-to link-div style-element-1777" href="#style-element-1777"
                name="style-element-1777">
          <span>benefit</span><figure class="a-tab-caret"></figure>
        </a>

            </div>
            <div class="style-body">
                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                    ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                    ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                    ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                    ipsum</p>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                             <h3>Desktop</h3>

                        </div>
                        <div>
                            <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                            alt="">
                        </div>
                        <div>
                            <p></p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p></p>
                        </div>
                        <div>
                             <h3> Mobile</h3>

                        </div>
                        <div>
                            <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                            alt="">
                        </div>
                        <div>
                            <p></p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p></p>
                        </div>
                    </div>
                    <!-- Feydra View End /Views/CollinsonGroup/Renderings/Components/Styleguide1Column.cshtml
                    -->
                </div>
            </div>
        </article>
        <article class="style-article">
            <div class="link-target" id="style-element-2777"></div>
            <div class="o-style-category-title"> <a class="a-style-title slide-to link-div style-element-2777" href="#style-element-2777"
                name="style-element-2777">
          <span>benefit</span><figure class="a-tab-caret"></figure>
        </a>

            </div>
            <div class="style-body">
                <div class="m-three-col m-screenshots">
                     <h4>Item 1</h4>

                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/477829210.jpg?h=339&amp;w=509&amp;la=gu-IN&amp;hash=B799BD644E1DC867ADA05675B0064043E2342D05"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </aside>
    <!-- STYLE 2 ---------------------------------- -->
    <!-- STYLE 2 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-element-2" name="style-element-2"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- STYLE 2 content -------------------------- -->
    <aside class="o-category-block">
        <article class="style-article">
            <div class="link-target toggle-nested-div" id="style-element-2"></div>
            <div class="o-style-category-title style-element-2" id="style-element-2"> <a class="a-style-title slide-to" href="#"><span>benefit</span><figure class="a-tab-caret"></figure></a>

            </div>
            <div class="style-body">
                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                    ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                    ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                    ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                    ipsum</p>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                             <h3>Desktop</h3>

                        </div>
                        <div>
                            <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                            alt="">
                        </div>
                        <div>
                            <p></p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p></p>
                        </div>
                        <div>
                             <h3> Mobile</h3>

                        </div>
                        <div>
                            <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                            alt="">
                        </div>
                        <div>
                            <p></p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p></p>
                        </div>
                    </div>
                    <!-- Feydra View End /Views/CollinsonGroup/Renderings/Components/Styleguide1Column.cshtml
                    -->
                </div>
            </div>
        </article>
        <article class="style-article">
            <div class="o-style-category-title style-element-3" id="style-element-3"> <a class="a-style-title slide-to" href="#"><span>benefit</span><figure class="a-tab-caret"></figure></a>

            </div>
            <div class="style-body">
                <div class="m-three-col m-screenshots">
                     <h4>Item 1</h4>

                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/477829210.jpg?h=339&amp;w=509&amp;la=gu-IN&amp;hash=B799BD644E1DC867ADA05675B0064043E2342D05"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </aside>
    <!-- STYLE 4 ---------------------------------- -->
    <!-- STYLE 4 mobile nav ----------------------- -->
    <div class="a-mobile-menu-link toggle-nested-link style-114" name="style-114"> <span>benefit</span>

        <svg class="icon--caret" data-name="icon--caret" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100">
            <polyline class="a-icon-fill" points="82.81 33.6 50 66.4 17.19 33.6" />
        </svg>
    </div>
    <!-- STYLE 4 content -------------------------- -->
    <aside class="o-category-block trigger-nested-div" id="style-114">
        <div class="o-style-category-title">
            <li class="m-list-item trigger-nested style-114" name="style-114"> <span>benefit</span>

                <figure class="a-tab-caret">
                    <svg class="a-arrow-right" id="a-arrow-right" data-name="a-arrow-right"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.84 100">
                        <polyline class="cls-1" points="0 0 29.84 50 0 100"></polyline>
                    </svg>
                </figure>
            </li>
        </div>
        <article class="m-accordion-article style-article">
            <div class="m-accordion-title trigger-div style-element-1141" name="style-element-1141">
                 <h3 class="a-style-title">Style 1 title</h3>

                <figure class="icon-caret">
                    <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                    style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
            l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                    </svg>
                </figure>
            </div>
            <div class="m-accordion-content style-body trigger-content" id="style-element-1141">
                <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsumLorem
                    ipsumLorem ipsumLorem ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem
                    ipsumLorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsumLorem ipsum v vLorem
                    ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                    ipsum</p>
                <div>
                    <div class="col-md-12">
                        <div>
                             <h3>Desktop</h3>

                        </div>
                        <div>
                            <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                            alt="">
                        </div>
                        <div>
                            <p></p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p></p>
                        </div>
                        <div>
                             <h3> Mobile</h3>

                        </div>
                        <div>
                            <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                            alt="">
                        </div>
                        <div>
                            <p></p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p>Lorem ipsum&nbsp;Lorem ipsum&nbsp;Lorem ipsum</p>
                            <p></p>
                        </div>
                    </div>
                    <!-- Feydra View End /Views/CollinsonGroup/Renderings/Components/Styleguide1Column.cshtml
                    -->
                </div>
            </div>
        </article>
        <article class="m-accordion-article style-article">
            <div class="m-accordion-title trigger-div style-element-1142" name="style-element-1142">
                 <h3 class="a-style-title">Style 2 title</h3>

                <figure class="icon-caret">
                    <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                    style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
            l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                    </svg>
                </figure>
            </div>
            <div class="m-accordion-content style-body trigger-content" id="style-element-1142">
                <div class="m-three-col m-screenshots">
                     <h4>Item 1</h4>

                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/477829210.jpg?h=339&amp;w=509&amp;la=gu-IN&amp;hash=B799BD644E1DC867ADA05675B0064043E2342D05"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="m-accordion-article style-article">
            <div class="m-accordion-title trigger-div style-element-1143" name="style-element-1143">
                 <h3 class="a-style-title">Style 2 title</h3>

                <figure class="icon-caret">
                    <svg version="1.1" id="icon--caret" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                    style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="icon-element" d="M97,70.2L52.2,25.4c-1.2-1.2-3.2-1.2-4.4,0c0,0,0,0,0,0L3,70.2c-1.2,1.2-1.2,3.2,0,4.4s3.2,1.2,4.4,0l0,0L50,32
            l42.6,42.6c1.2,1.2,3.2,1.2,4.4,0S98.2,71.4,97,70.2z" />
                    </svg>
                </figure>
            </div>
            <div class="m-accordion-content style-body trigger-content" id="style-element-1143">
                <div class="m-three-col m-screenshots">
                     <h4>Item 1</h4>

                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/477829210.jpg?h=339&amp;w=509&amp;la=gu-IN&amp;hash=B799BD644E1DC867ADA05675B0064043E2342D05"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/595324616.jpg?h=359&amp;w=479&amp;la=gu-IN&amp;hash=ABB801EDF83BCA9F7F50E5E19A97BBDE366B2360"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 m-col">
                            <div class="o-card stacked flexed">
                                <div class="m-card-image">
                                    <img src="https://cgsc9web.lab-collinson.servers.lab.uk:443/-/media/test-images-for-language-landing-pages/hero-banner-language-landing-pages-v2.jpg?h=321&amp;w=536&amp;la=gu-IN&amp;hash=E9877F31030A292E5F5EC951ACCF529DC5FBF8D2"
                                    alt="">
                                </div>
                                <div class="m-card-body">
                                    <p></p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p>Lorem ipsum&nbsp;Lorem ipsum</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </aside>
</section>